<style>
    #canvas {
        width: 1400px;
        height: 2050px;
        resize: both;
        margin-top: 5%;
        margin-left: 10%;
        border: 3px inset #aaaaaa;
    }

    #stage {
        padding: 5px;
        top: 10%;
        left: 0;
        border: 1px solid #aaaaaa;
        position: fixed;
        resize: both;
        overflow: auto;
    }

    #StageTable {
        border: 0px solid #aaaaaa;
    }

	.form-group {
		border: 1px solid black; /* Change border width and color here */
	}

	/* the !important declaration is for this snippet, because this snippet include bootstrap after this declarations **/
	.form-control {
		border: none !important; /* No border for input */
		box-shadow: none !important; /* No border for input */
        width: 150px;
	}

	.form-control:focus {
		box-shadow: none !important; /* Remove the blue shining at focus */
	}

    .imgclass
    {
        width: 50px;
        height: 50px;
        resize: both;
        overflow: auto;
    }

    .canvasblock {
        width: 300px;
        height: 300px;
        border-style: dotted;
        background-color: #ffffff;
        text-align: center;
        border: 3px solid #d3d3d3;
        resize: both;
        overflow: auto;
    }

   

    #shade,
    #modal {
        display: none;
    }

    #shade {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #modal {
        position: fixed;
        z-index: 101;
        top: 10%;
        left: 10%;
        width: 60%; /* Full width */
        height: 60%; /* Full height */
        resize: both;
        overflow: auto;
    }

    #shade {
        background: silver;
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/leader-line@1.0.5/leader-line.min.js"></script>

<body>
    <nav class="navbar navbar-expand-md fixed-top" style="background-color:#0078d4;">
		<div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav" >
				<li class="nav-item active">
                    <a class="nav-link" href="#" style="color:white;">Topology Builder</a>
				</li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:white;">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:white;">Contact us</a>
                </li>
			</ul>
		</div>
	</nav>

    <div id="stage">
        <!--ondrop="remove(event)" ondragover="allowDrop(event)"> -->
        <table id="StageTable">
            <tr>
                <td>Virtual WAN</td>
                <td>
                    <img id="wan" src="./assets/wan.png" class="imgclass" ondblclick="addcanvasblock('Wan')"/>
                </td>
            </tr>
            <tr>
                <td>Virtual Hub</td>
                <td>
                    <img id="hub" src="./assets/hub.png" class="imgclass" ondblclick="addcanvasblock('Hub')"/>
                </td>
            </tr>
            <tr>
                <td>VNG</td>
                <td>
                    <img id="vng" src="./assets/vng.png" class="imgclass" ondblclick="addcanvasblock('Vng')"/>
                </td>
            </tr>
			<tr>
				<td>Connection</td>
				<td>
                    <img id="conn" src="./assets/conn.png" class="imgclass" ondblclick="addcanvasblock('conn')"/>
				</td>
			</tr>
            <tr>
                <td>Site</td>
                <td>
                    <img id="site" src="./assets/site.png" class="imgclass" ondblclick="addcanvasblock('site')"/>
                </td>
            </tr>
		</table>
        <br />
        	<div class="form-group">
				<input type="text" class="form-control" id="sid" name="sid" placeholder="Subscription Id" required />
			</div>
			<div class="form-group">
				<input type="text" class="form-control" id="rg" name="rg" placeholder="Resource Group" required />
			</div>
        <br/>
        <br/>
        <button type="button" class="btn btn-primary btn-md" onclick="ShowTopology()">
            Show Topology
        </button>
        <br/>
		<br />
        <button type="button" class="btn btn-primary btn-md" onclick="DeployTopology()">
			Deploy Topology
		</button>
    </div>


    <div id="canvas" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="shade"></div>

    <div id="modal">
        <button id="close" style="top:80%;right:80%">X</button>
        <textarea id="jsonarea" rows="100" cols="150"></textarea>
        <br />
    </div>

</body>



<script>
	var wanTemplate = {
		"apiVersion": "2019-09-01",
		"location": "eastus2",
        "name": "RWanName",
        "id": "/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/resourceGroups/sliu_vwantest/providers/Microsoft.Network/virtualWans/sliu_wan1",
		"properties": {
			"virtualHubs": [],
			"vpnSites": [],
			"type": "Standard"
		},
		"type": "Microsoft.Network/virtualWans"
	};
	var hubTemplate = {
		"type": "Microsoft.Network/virtualHubs",
		"apiVersion": "2022-07-01",
		"name": "RHubName",
        "id": "/subscriptions/10a8c16e-acc9-4def-867c-a66c3d9238e6/resourceGroups/NaasTestGroup/providers/Microsoft.Network/virtualHubs/vragireddy_test_hub",
		"location": "eastus",
        "dependsOn": [
            "/subscriptions/10a8c16e-acc9-4def-867c-a66c3d9238e6/resourceGroups/NaasTestGroup/providers/Microsoft.Network/virtualWans/sliu_wan1"
        ],
		"tags": {},
		"properties": {
			"addressPrefix": "10.12.13.0/24",
			"virtualWan": {
                "id": "/subscriptions/10a8c16e-acc9-4def-867c-a66c3d9238e6/resourceGroups/NaasTestGroup/providers/Microsoft.Network/virtualWans/RWanName"
			},
			"sku": "Standard",
			"virtualRouterAutoScaleConfiguration": {
				"minCapacity": 2
			},
			"hubRoutingPreference": "ExpressRoute"
		}
	};
    var vngTemplate = {
                "type": "Microsoft.Network/vpnGateways",
                "apiVersion": "2022-01-01",
                "name": "f485e136158d46a68131ac48bc52a14a-eastus-gw",
                "id": "/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/resourceGroups/sliu_vwantest/providers/Microsoft.Network/vpnGateways/abd3e14b6fff4a349c4c23089e4bdc93-eastus-gw",
                "location": "eastus",
                "dependsOn": [
                    "/subscriptions/10a8c16e-acc9-4def-867c-a66c3d9238e6/resourceGroups/NaasTestGroup/providers/Microsoft.Network/virtualHubs/vragireddy_test_hub"
                ],
                "properties": {
                    "vpnGatewayScaleUnit": 1,
                    "virtualHub": {
                        "id": "/subscriptions/10a8c16e-acc9-4def-867c-a66c3d9238e6/resourceGroups/NaasTestGroup/providers/Microsoft.Network/virtualHubs/vragireddy_test_hub"
                    },
                    "isRoutingPreferenceInternet": false,
                    "bgpSettings": {
                        "asn": 65515
                    }
                }
            };


    var masterjsondata = {
        "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
        "contentVersion": "1.0.0.0",
        "parameters": {},
        "resources": [
        ]
    };

    var wanUriTemplate = "/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/resourceGroups/sliu_vwantest/providers/Microsoft.Network/virtualWans/sliu_wan1";
    var hubUriTemplate = "/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/resourceGroups/sliu_vwantest/providers/Microsoft.Network/virtualHubs/sliu_wan1";
    var vngUriTemplate = "/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/resourceGroups/sliu_vwantest/providers/Microsoft.Network/vpnGateways/abd3e14b6fff4a349c4c23089e4bdc93-eastus-gw";

    var modal = document.getElementById('modal');
    var shade = document.getElementById('shade');
    var hubtotal = 0;
    var wantotal = 0;
    var vngtotal = 0;
    var HubNames = [];
    var WanNames = [];
    var VngNames = [];
    var HubsWanNames = [];
    document.getElementById('close').onclick = function () {
        modal.style.display = shade.style.display = 'none';
    };

    function ShowModal() {
        let jsonarea= document.getElementById("jsonarea");
        jsonarea.value = JSON.stringify(masterjsondata, undefined, 4);
        modal.style.display = shade.style.display = 'block';
    };

    var ResourceNameMap = new Map();
    var HubWanMap = new Map();
    var VpnGatewayHubMap = new Map();
    function buildDependency(parent, child) {
        if (parent.startsWith("Wan")) {
            console.log("parent name:" + document.getElementById(parent).getAttribute("name"));
            console.log("child name:" + document.getElementById(child).getAttribute("name"));
            HubWanMap.set(document.getElementById(child).getAttribute("name"), document.getElementById(parent).getAttribute("name"));
        }
        else if (parent.startsWith("Hub")) {
            console.log("parent name:" + document.getElementById(parent).getAttribute("name"));
            console.log("child name:" + document.getElementById(child).getAttribute("name"));
            VpnGatewayHubMap.set(document.getElementById(child).getAttribute("name"), document.getElementById(parent).getAttribute("name"));
        }
    }

    //var line = new LeaderLine(document.getElementById('wan'), document.getElementById('hub'));
    function inputResourceName(divname) {
        let resourceName = prompt("Please enter Resource Name:");
        if (resourceName != null) {
            ResourceNameMap.set(divname, resourceName);
            return resourceName;
        }
    }

    function addcanvasblock(blocktype) {
        resourcenum = 0;
        if (blocktype == "Wan")
        {
            resourcenum = ++wantotal;
        }
        else if (blocktype == "Hub")
        {
            resourcenum = ++hubtotal;
        }
        else if (blocktype == "Vng")
        {
            resourcenum = ++vngtotal;
        }

		if (blocktype == "Wan" || blocktype == "Hub" || blocktype == "Vng")
		{
            let imageid = blocktype + resourcenum
            let divname = blocktype + "div" + resourcenum;
            //let strname = 'Virtual' + blocktype + resourcenum ;
            let strname = inputResourceName(divname);
            var group=$(document.createElement('div'));
            group.attr({ id: divname });
            group.attr({ name: strname });
            group.attr({draggable: "true"});
            group.attr({ class : "canvasblock" });
            let imgdiv = '<div>' + strname + '<img id="' + imageid + '" src="./assets/' + blocktype + '.png" draggable="false" (dragstart)="false;" class="imgclass"/></div>';
            group.html(imgdiv);
            group.bind("dragstart", function(ev){drag(ev);});
            $("#canvas").append(group);
            //dragElement(document.getElementById(divname));

            if (blocktype == "Wan") {
                WanNames.push(strname);
            }
            else if (blocktype == "Hub") {
                HubNames.push(strname);
                HubsWanNames.push("Empty");
            }
            else if (blocktype == "Vng") {
                VngNames.push(strname);
            }
                        
		}
    }

    function allowDrop(ev) {
        console.log("allowDrop");
        ev.preventDefault();
    }

    function drag(ev) {
        console.log("Drag target:" + ev.target.id);
        ev.dataTransfer = ev.originalEvent.dataTransfer;
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(event) {
        console.log("drop target:" + event.target.nodeName);

		event.preventDefault();
		var data = event.dataTransfer.getData("text");
		console.log("data target:" + document.getElementById(data));
		if (event.target.nodeName == "DIV") {
            let hubdiv = document.getElementById(data);
            let wandiv = event.target.id;
            console.log("drop target id:" + event.target.id);
            console.log("data target:" + hubdiv.id);
            console.log("drop target name:" + document.getElementById(wandiv).getAttribute("name"));
            console.log("data target name:" + document.getElementById(hubdiv.id).getAttribute("name"));
            let position = hubdiv.id.search("div") + 3;
            let pos = hubdiv.id.substr(position);
            HubsWanNames[pos-1] = document.getElementById(wandiv).getAttribute("name");
            console.log("hub pos:" + pos);
            console.log("wan name:" + document.getElementById(wandiv).getAttribute("name"));
            event.target.appendChild(hubdiv);
            buildDependency(wandiv, hubdiv.id);
		}
        /*
    var line = new LeaderLine(
     document.getElementById('wan'),
     document.getElementById(data));
     */
    }

    function remove(event) {
        event.preventDefault();
        var data = event.dataTransfer.getData("text");
        if (event.target.nodeName !== "IMG") {
            event.target.appendChild(document.getElementById(data));
        }
    }


    
    function dragElement(elmnt) {
        var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
        if (document.getElementById(elmnt.id + "header")) {
            /* if present, the header is where you move the DIV from:*/
            document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
        } else {
            /* otherwise, move the DIV from anywhere inside the DIV:*/
            elmnt.onmousedown = dragMouseDown;
        }

        function dragMouseDown(e) {
            e = e || window.event;
            e.preventDefault();
            // get the mouse cursor position at startup:
            pos3 = e.clientX;
            pos4 = e.clientY;
            document.onmouseup = closeDragElement;
            // call a function whenever the cursor moves:
            document.onmousemove = elementDrag;
        }

        function elementDrag(e) {
            e = e || window.event;
            e.preventDefault();
            // calculate the new cursor position:
            pos1 = pos3 - e.clientX;
            pos2 = pos4 - e.clientY;
            pos3 = e.clientX;
            pos4 = e.clientY;
            // set the element's new position:
            elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
            elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
        }

        function closeDragElement() {
            /* stop moving when mouse button is released:*/
            document.onmouseup = null;
            document.onmousemove = null;
        }
    }

    function ShowTopology() {
        let sid = document.getElementById("sid").value;
        let rg = document.getElementById("rg").value;
        if (sid=="")
        {
            alert("Subscription Id can't be empty");
            return;
        }
		if (rg == "") {
			alert("Resource group can't be empty");
            return;
		}

        masterjsondata.resources = [];
		for (var i = 0; i < WanNames.length; i++) {
            console.log("WAN Name:" + WanNames[i]);
            console.log("type:" + typeof (wanTemplate));
            var tempWantemplate = JSON.parse(JSON.stringify(wanTemplate));
            tempWantemplate.name = WanNames[i];
            tempWantemplate.id = replaceSubscriptionAndResGroups(wanUriTemplate, sid, rg, WanNames[i]);
            var hubsIds = [];
            HubWanMap.forEach((wanName, hubName) => {
                console.log("wanName:" + wanName);
                console.log("hubName:" + hubName);
                if (wanName == WanNames[i]) {
                    hubsIds.push(replaceSubscriptionAndResGroups(hubUriTemplate, sid, rg, hubName));
                }});
            tempWantemplate.properties.virtualHubs = hubsIds;
            masterjsondata.resources.push(tempWantemplate);
		}

		for (var i = 0; i < HubNames.length; i++) {
            console.log(HubNames[i]);
            var tempHubtemplate = JSON.parse(JSON.stringify(hubTemplate));
            tempHubtemplate.name = HubNames[i];
            tempHubtemplate.id = replaceSubscriptionAndResGroups(hubUriTemplate, sid, rg, HubNames[i]);
            var dpOns = [];
            dpOns.push(replaceSubscriptionAndResGroups(wanUriTemplate, sid, rg, HubWanMap.get(HubNames[i])));
            tempHubtemplate.dependsOn = dpOns;
            tempHubtemplate.properties.virtualWan.id = replaceSubscriptionAndResGroups(wanUriTemplate, sid, rg, HubWanMap.get(HubNames[i]));
            masterjsondata.resources.push(tempHubtemplate);
		}

        for (var i = 0; i < VngNames.length; i++) {
            console.log(VngNames[i]);
            var tempVngtemplate = JSON.parse(JSON.stringify(vngTemplate));
            tempVngtemplate.name = VngNames[i];
            tempVngtemplate.id = replaceSubscriptionAndResGroups(vngUriTemplate, sid, rg, VngNames[i]);
            var dpOns = [];
            dpOns.push(replaceSubscriptionAndResGroups(hubUriTemplate, sid, rg, VpnGatewayHubMap.get(VngNames[i])));
            tempVngtemplate.dependsOn = dpOns;
            tempVngtemplate.properties.virtualHub.id = replaceSubscriptionAndResGroups(hubUriTemplate, sid, rg, VpnGatewayHubMap.get(VngNames[i]));
            masterjsondata.resources.push(tempVngtemplate);
		}
        ShowModal();
    }

    function DeployTopology(){
        alert("Deploying network topology!");
        // run powershell to deploy arm template
    }

    function replaceSubscriptionAndResGroups(uri, sid, rgName, resourceName) {
        const parts = uri.split('/');
        parts[2] = sid;
        parts[4] = rgName;
        parts[8] = resourceName;
        let res = parts.join('/');
        return res;
    }

</script>