@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<style>
     #contents {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #canvas {
        width: 750px;
        height: 300px;
        padding: 5px;
        border: 1px solid #aaaaaa;
    }

    #stage {
        width: 750px;
        height: 100px;
        padding: 5px;
        border: 0px solid #aaaaaa;
    }

    #StageTable {
        border: 1px solid #aaaaaa;
    }

    #inputform {
        padding-left: 10%;
    }


</style>

<script src="https://cdn.jsdelivr.net/npm/leader-line@1.0.5/leader-line.min.js"></script>

<div id="start">start</div>
<div id="end">end</div>



<script>
    function inputResourceName(data) {
        let resourceName = prompt("Please enter Resource Name:");
        if (resourceName != null) {
            ResourceNameMap.set(document.getElementById(data).id, resourceName);
        }
    }

    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(event) {
        event.preventDefault();
        var data = event.dataTransfer.getData("text");
        if (event.target.nodeName !== "IMG")
        {
            event.srcElement.appendChild(document.getElementById(data));
            event.target.appendChild(document.getElementById(data));
            document.getElementById("wanholder").innerHTML = '<img id="wan1" src="./assets/wan.png" draggable="true" ondragstart="drag(event)" width="50" height="50">';
            document.getElementById("demo").innerHTML = document.getElementById(data).id + " was added to the topology.";

            /*
            var line = new LeaderLine(
                document.getElementById('wan'),
                document.getElementById(data));
                */
        }
    }

    function remove(event)
    {
        event.preventDefault();
        var data = event.dataTransfer.getData("text");
        if (event.target.nodeName !== "IMG")
        {
            event.target.appendChild(document.getElementById(data));

            document.getElementById("demo").innerHTML = document.getElementById(data).id + " was removed from the topology.";

            line.remove();
        }
    }
</script>

<p>vWan Resources into the rectangle to generate topology:</p>

<div id="contents">
    <div>
        <div id="stage" ondrop="remove(event)" ondragover="allowDrop(event)">
            <br>
            <table id="StageTable">
                <tr>
                    <td>Virtual WAN</td>
                    <td>Virtual Hub</td>
                    <td>VNG</td>
                    <td>Connection</td>
                    <td>Site</td>
                </tr>
                <tr>
                    <td>
                        <div id="wanholder">
                            <img id="wan" src="./assets/wan.png" draggable="true" ondragstart="drag(event)" width="50" height="50">
                        </div>
                    </td>
                    <td>
                        <img id="hub" src="./assets/hub.png" draggable="true" ondragstart="drag(event)" width="50" height="50">
                    </td>
                    <td>
                        <img id="vng" src="./assets/vng.png" draggable="true" ondragstart="drag(event)" width="50" height="50">
                    </td>
                    <td>
                        <img id="conn" src="./assets/conn.png" draggable="true" ondragstart="drag(event)" width="50" height="50">
                    </td>
                    <td>
                        <img id="site" src="./assets/site.png" draggable="true" ondragstart="drag(event)" width="50" height="50">
                    </td>
                </tr>
            </table>
            <!--
            <img id="wan" src="./assets/wan.png" draggable="true" ondragstart="drag(event)" width="50" height="50">
            <img id="hub" src="./assets/hub.png" draggable="true" ondragstart="drag(event)" width="50" height="50">
            <img id="vng" src="./assets/vng.png" draggable="true" ondragstart="drag(event)" width="50" height="50">
            <img id="conn" src="./assets/conn.png" draggable="true" ondragstart="drag(event)" width="50" height="50">
            <img id="site" src="./assets/site.png" draggable="true" ondragstart="drag(event)" width="50" height="50">
                -->
        </div>
        <br>
        <br>
        <div id="canvas" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

        <br>
        <p id="demo"></p>
        <br>

        <div id="ts-example">
            <br />
            <button type="button" class="btn btn-primary btn-md" onclick="TSButton()">
                Deploy Topology
            </button>
        </div>
    </div>
    <div>
        <div id="inputform">
            <h4>Input your subscription id and resource group name below: </h4>
            <div>
                <form id="formid" action="" onsubmit="submitForm()">
                    <label for="sid">Subscription id:</label>
                    <input type="text" id="sid" name="sid"><br><br>
                    <label for="rg">Resource group:</label>
                    <input type="text" id="rg" name="rg"><br><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var line = new LeaderLine(
        document.getElementById('wan'),
        document.getElementById('hub'));

</script>